doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div 1
    div 2
    div 3
  form
    input(type='text')
    input(type='text')
    input(type='hidden', name='Search_Platform__c')
    input(type='hidden', name='Click_ID__c')

  form
    input(type='text')
    input(type='text')
    input(type='hidden', name='Search_Platform__c')
    input(type='hidden', name='Click_ID__c')    

script(src="/javascripts/main.js")
script(src="/javascripts/conditional_branching.js")

div 4
div 5
div 6
